@model Comabit.UI.Areas.Authentication.Models.ForgotPasswordEmailViewModel

@{
    ViewBag.Title = "Anmeldung";
    Layout = "";
}

<div class="flex-grow-1">
    <h1>Combait Baustoffmanager Passwort zurücksetzen</h1>

    <div class="content">
        <strong>Hallo @Model.Firstname @Model.Lastname,</strong><br />
        <br />
        bitte klicken Sie auf folgenden Link, um Ihr Passwort im O2 Backend für VO-Nummern zu definieren:
        <br />
        <a href="@Model.SetPasswortUrl">Jetzt Passwort festlegen</a><br />
        <br />
        Mit freundlichen Grüßen<br />
        <br />
        Ihr Comabit Team
    </div>
</div>