@{
    ViewBag.Title = "Info";
}

<div class="col-lg-6 col-md-8 mx-auto">
    <div class="card">
        <div class="card-body">
            <p>
                Hallo,<br />
                Willkommen in deinem Login-Bereich des Bewerberfragebogens. Hier findest du alles rund um deinen Account und kannst deine Daten verwalten.
            </p>
        </div>
    </div>
</div>