@{
    ViewBag.Title = "Ihr Passwort wurde geändert";
    Layout = "~/Views/Shared/_Layout_Anonymous.cshtml";
}

<div class="col-lg-6 col-md-8 mx-auto">
    <div class="card">
        <div class="card-header ">
            <h3 class="header">@ViewBag.Title.</h3>
        </div>
        <div class="card-body">
            <p>
                @Html.ActionLink("Zur Startseite", "Index", "Home", routeValues: new { Area = "" }, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>
