<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="${basedir}/logs/M1.LoggerErrors\M1.CustomerEnvironmentApi_LoggerErrors.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="ApplicationId" value="Comabit" />

  <variable name="FileStorageLogPath" value="${basedir}\..\..\..\Log" />
  <variable name="FileStorageAppLogPath" value="${FileStorageLogPath}\${ApplicationId}" />

  <variable name="Timestamp"             value="${date:format=yyyy.MM.dd HH\:mm\:ss.fff}" />
  <variable name="ThreadIdentifier"      value="${threadid}" />
  <variable name="ApplicationInfo"       value="${ApplicationId}" />
  <variable name="RequestInfo"           value="${aspnet-request-method} ${aspnet-request-url}" />
  <variable name="RemoteAddr"            value="${aspnet-request-ip}" />

  <variable name="CodeSourceInformation" value="${stacktrace:topFrames=3}${newline}${callsite:fileName=true:includeSourcePath=false}" />

  <variable name="LayoutPrefix"
  value="${Timestamp} ThreadId=${ThreadIdentifier} ${level} ${logger}${newline}ApplicationId: ${ApplicationInfo}${newline}REQUEST: ${RequestInfo}${newline}REMOTE_ADDR: ${RemoteAddr}${newline}CodeSourceInformation: ${CodeSourceInformation}${newline}EventId: ${event-properties:item=EventId_Id}|Level: ${uppercase:${level}}" />

  <targets async="false">

    <target name="AppEventLog" xsi:type="File"
            fileName="${FileStorageAppLogPath}\EventLog_${machinename}.txt"
            archiveFileName="${FileStorageAppLogPath}\${logger}\EventLog_${machinename}.{###}.txt"
            layout="${LayoutPrefix}${newline}${message} ${exception:format=ToString}${newline}"
            archiveAboveSize="4194304" archiveNumbering="Sequence" maxArchiveFiles="999" />

    <target name="AppErrorLog" xsi:type="File"
            fileName="${FileStorageAppLogPath}\ErrorLog_${machinename}.txt"
            archiveFileName="${FileStorageAppLogPath}\ErrorLog_${machinename}.{###}.txt"
            layout="${LayoutPrefix}${newline}${message} ${exception:format=ToString}${newline}"
            archiveAboveSize="4194304" archiveNumbering="Sequence" maxArchiveFiles="999" />

    <target name="AppErrorMail" xsi:type="Mail"
            subject="CLService.${ApplicationId}:${machinename}:ErrorMail"
            to="wpatzwahl@mission-one.de"
            from="${ApplicationId}@${machinename}.permission-one.local"
            body="${Timestamp}${newline}Server: ${machinename}${newline}ErrorMessage: ${exception:format=Message}${newline}${newline}${LayoutPrefix}${newline}${message}${newline}${exception:format=ToString}"
            smtpServer="mailrelay.permission-one.local" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="AppEventLog" />
    <logger name="*" minlevel="Error" writeTo="AppErrorLog" />
  </rules>
</nlog>
