<div class="modal fade" id="ModalChat" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="match-details">

                </div>
            </div>
            <div class="modal-body m-3">
                <div class="chat-container">
                    <div class="position-relative">
                        <div id="chat-messages" class="p-4">

                        </div>
                    </div>

                    <div class="flex-grow-0 py-3 px-4 border-top">
                        <form id="add-message-form">
                            <div class="input-group">
                                <input id="message-input" type="text" class="form-control" placeholder="Nachricht eingeben">
                                <button type="submit" class="btn btn-primary me-1">Nachricht senden</button>
                                <button class="btn btn-primary detail me-1" data-bs-dismiss="modal">Details</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>