@model PortfolioEditViewModel

@using Comabit.UI.Areas.Seller.Models.Settings;

@{
    ViewBag.Title = "Portfolio erfolgreich aktualisiert";
}

<h1 class="h1 mb-1">Mein Portfolio</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Start</a></li>
        <li class="breadcrumb-item active">Portfolio bearbeiten</li>
    </ol>
</nav>

<div class="row">
    <div class="col-12">
        <div class="alert alert-success" role="alert">
            <div class="alert-message">
                @ViewBag.Title
            </div>
        </div>
    </div>
</div>
